{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "features",
            "./src/features"
          ],
          [
            "components",
            "./src/shared/components"
          ]
        ]
      }
    }
  }
}